form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 800px;
  position: relative;
  left: 50%;
  border: 0.2em solid var(--text-color);
  padding: 0.5em;
  transform: translate(-50%);
}

input,
button {
  min-height: 30px;
  font-weight: bold;
  font-size: 1em;
}

/*Media queries*/
@media screen and (min-width: 900px) {
  /* Desktop*/
}

@media screen and (min-width: 430px) and (max-width: 899px) {
  /* Tablet*/
}
