:root {
  --primary-color: #154b90;
  --secondary-color: #1b62bd;
  --complementary-color: hsl(34, 100%, 62%);
  --text-color: white;
  --san-serf-font: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color, white);
  text-align: center;
}

main {
  max-width: 800px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

button {
  background-color: var(--primary-color);
  margin-top: 2em;
  padding: 0.5em;
  font-size: 1.3em;
  border: 0.3em outset var(--text-color);
  color: var(--text-color);
  font-weight: bold;
}

.accepted {
  border-color: var(--complementary-color) !important;
}

/*Media queries*/
@media screen and (min-width: 900px) {
  /* Desktop*/
}

@media screen and (min-width: 430px) and (max-width: 899px) {
  /* Tablet*/
}
