@import url("./shared-styles/variables.css");

body {
  text-align: center;
  background-color: var(--fopasue-color);
  height: 100vh;
  color: white;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: "";
}

li {
  border: 0.2em solid white;
  width: 70vw;
  max-width: 800px;
  padding: 0.5em;
  margin: 1em;
}

li > a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-family: Helvetica, sans-serif;
}
/*Media queries*/
@media screen and (min-width: 900px) {
  /* Desktop*/
}

@media screen and (min-width: 430px) and (max-width: 899px) {
  /* Tablet*/
}
