main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

li {
  border: 0.2em solid var(--border-color);
  width: 70vw;
  max-width: 800px;
  padding: 0.5em;
  margin: 1em;
}

li > a {
  display: inline-block;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}
/*Media queries*/
@media screen and (min-width: 900px) {
  /* Desktop*/
}

@media screen and (min-width: 430px) and (max-width: 899px) {
  /* Tablet*/
}
