@import url("../shared-styles/variables.css");

body {
  background-color: var(--fopasue-color);
  text-align: center;
  color: white;
}

main {
  max-width: 800px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#showmore {
  background-color: var(--primary-color);
  margin-top: 2em;
  padding: 0.5em;
  font-size: 1.3em;
  border: 0.2em outset white;
  color: white;
  font-weight: bold;
}

/*Media queries*/

@media screen and (min-width: 900px) {
  /* Desktop*/
}

@media screen and (min-width: 430px) and (max-width: 899px) {
  /* Tablet*/
}
