:root {
  /* colors */
  --fopasue-color: #154b90;
  --mischka: #ced1da;
  --ship-cove: #a6b3d9;
  /* fonts */
  --serf-font: "Times New Roman", Times, serif;
  --san-serf-font: Helvetica, Arial, sans-serif;
}
